{
  email {$ACME_EMAIL}
}

{$DOMAIN} {
  reverse_proxy proxy:8080

  header {
    -Server
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "no-referrer"
  }
}
